@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(Fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: Coves;
    src: url(Fonts/Coves-Light.otf);
}



.top-bar{
	background-color: #fff;
}

#top-navi{
	background-color: #fff;
	color:#C1272D;
	font-family:Gilroy;
}

#top-navi a{
	color:#C1272D;
	font-family:Gilroy;
}

#footer{
	background-color:#282828;
	font-family:Gilroy;
	color:#E6E6E6;
}

#footer a{
	color:#fff;
}
