/* YOUR CUSTOM STYLES */
.color-red{
  background-color: #d32f2f;
}

.color-dark-red{
  background-color: #b71c1c;
}

.color-yellow{
  background-color: #ffc107;
}

.color-dark-yellow{
  background-color: #ff8f00;
}

.text-color-red{
  color: #d32f2f;
}

.text-color-dark-red{
  color: #b71c1c;
}

.text-color-yellow{
  color: #ffc107;
}

.text-color-dark-yellow{
  color: #ff8f00;
}

#core-logo-login{
  margin-top: -20px;
  width:  90%;
  height: 90%;
}

#core-logo-navbar{
  /*margin-top: -20px;*/
  width:  2%;
  height: 2%;
}

#my-registration-select{
  margin-left: 50px;
  margin-top: 10px;
}

/* ************************************************************************* */


/* TEMPLATE STYLES */

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.divider-new {
    margin-top: 0;
}

.navbar {
    /*background-color: #414a5c;*/
    background-color: #b71c1c;
}

footer.page-footer {
    background-color: #b71c1c;
    margin-top: 2rem;
}
