/* YOUR CUSTOM STYLES */
.color-red{
  background-color: #d32f2f;
}

.color-dark-red{
  background-color: #b71c1c;
}

.color-yellow{
  background-color: #ffc107;
}

.color-dark-yellow{
  background-color: #ff8f00;
}

.text-color-red{
  color: #d32f2f;
}

.text-color-dark-red{
  color: #b71c1c;
}

.text-color-yellow{
  color: #ffc107;
}

.text-color-dark-yellow{
  color: #ff8f00;
}

#core-logo-login{
  margin-top: -20px;
  width:  90%;
  height: 90%;
}

#core-logo-navbar{
  /*margin-top: -20px;*/
  width:  2%;
  height: 2%;
}

#my-registration-select{
  margin-left: 50px;
  margin-top: 10px;
}

#my-home-cards{
  height: 50px;
}

.btn-core-primary{
  /*background-color: #ffc107; // amber*/
  height: 50px;
  width: 50px;
  border-radius: 20%;
}

.btn-core-secondary{
  background-color: #ffc107;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.core-primary{
  color: #d32f2f; /* d32f2f red darken-2*/
  font-size: 20pt;
  position: relative;
  float: left;
  padding-left: 25px;
  padding-bottom: -100px;
}

.core-primary:hover{
  color: #b71c1c; /* b71c1c red darken-4*/
  /*text-shadow: 2px 2px 5px black;*/
  text-shadow: 0px 0px 1px #b71c1c;
}

.core-secondary{
  color: #ffc107; /* ffc107 amber*/
  font-size: 20pt;
  position: relative;
  float: right;
  padding-right: 25px;
}

.core-secondary:hover{
  /*color: #ff8f00; /* ff8f00 amber darken-3*/
  color: #ffb300; /* ffb300 amber darken-2*/
  text-shadow: 0px 0px 1px #ffb300;
}

.hiddenRow {
    padding: 0 !important;
}

.hiddenRowColor{
  background-color: red !important;
}
/* ************************************************************************* */


/* TEMPLATE STYLES */

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.divider-new {
    margin-top: 0;
}

.navbar {
    /*background-color: #414a5c;*/
    background-color: #b71c1c;
}

footer.page-footer {
    background-color: #b71c1c;
    margin-top: 2rem;
}
